<p>Nombre: <%= @user.name %> </p>
<p>Tipo de usuario: <%= (@user.role? :internal_user) ? "interno" : "externo" %> </p>
<p>Referencia: <%= @user.reference %></p>
<p>Correo: <%= @user.email %></p>
<p>Teléfono: <%= @user.phone %></p>
<p>Dirección: <%= @user.address %></p>
<p>Ciudad: <%= @user.city %> </p>
<p>Zip: <%= @user.zip %></p>
<p>Estado: <%= @user.state %> </p>
<p>País: <%= @user.country %> </p>
<p>Ubicación: <%= @user.location %> </p>

<p>Empresa: <%= @user.company_name %> </p>
<p>Puesto: <%= @user.job_title %> </p>
<p>Tipo de negocio: <%= @user.business_type %> </p>
<p>Tipo de instalación: <%= @user.type_of_installation %> </p>
<p>Cómo escuchó sobre nosotros?: <%= @user.about_us %> </p>
<p>Referencias de proyecto: <%= @user.project_references %> </p>
<p>Tipo de diseños y cantidad: <%= @user.designs_quantities %> </p>
<p>Dirección de envío: <%= @user.complete_delivery_address %> </p>
<p>Mensaje: <%= @user.message %> </p>
